body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.result{
    font-size: 25px;
    color: tomato;
    font-weight: bold;
    letter-spacing: 5px;
}
.row{
    display: flex;align-items: center;
}
.moves-container{
    display: flex;flex-direction: column;align-items: center;
    position: absolute;
    top: 40px;
    right: 60px;
}
.counter-container{
    background: rgb(148, 3, 148);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;align-items: center;justify-content: center;
    color: white;
}
.count{
    font-size: 25px;
}
.moves-left{
    font-size: 17px;
    font-weight: 900;
}
.box{
    width: 70px;
    height: 70px;
    background: rgb(185, 185, 185);
    margin: 3px;
}
.red{
    background: red;
}
.green{
    background: green;
}
.yellow{
    background: yellow;
}
.blue{
    background: blue;
}
.data-hidden{
    background: rgb(185, 185, 185);
}
.btn{
    border: none;
    background: tomato;
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 7px;
    display: none;
}

@media screen and (max-width:550px) {
    .moves-container{
        top: 30px;
        right: 20px
    }
    .box{
        width: 50px;
        height: 50px;
    }
    .title{
        font-size: 18px;
        letter-spacing: 3px;
    }
    .title{
        margin-top: 5rem;
    }
}